body{
    margin: 0;
    min-width: 960px; /*ancho minimo */
    background-color: #534bae;
}

.contenedor{
    width: 960px;
    background-color: #000051;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.logoMenu{
    display: table;
    width: 960px;    
    background-color: #1a237e;
}
.logo{
    display: table;
    float: left;
    overflow: auto;
}
.logo img{
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    width: 100px;
    height: 100px;
}
.logo h1{
    display: table-cell;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    color: #ffffff;
    /*text-align: left;*/
}


.menu{
    display: table-cell;
    vertical-align: middle;
    padding: 0px;
    text-align: right;
}
.menu ul{
    margin: 0;
    padding: 10px;
    list-style: none;
    overflow: hidden;
}
.menu ul li{
    display: inline-block;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
}
.menu ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.menu ul li a:hover{
    color: blueviolet;
    background-color: black;
}
.banner img{
    
    width: 100%;
    margin-top: 100px;
}
.video{
    text-align: center;
    /*position: relative;
    padding-bottom: 56,25%;/*tamaño de resolucion de 16/9 estandar de youtube*/
    /*padding-top: 30px;
    height: 0;
    overflow: hidden;*/
}
/*.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/
.eslogan{
    text-align: center;
}
.eslogan h1{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.eslogan h2{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.eslogan p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.datos{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
   
}



.datosinfo h3{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #ffffff;
}

.datosinfo{
    text-align: left;
    padding-left: 10px;
    
}
.prueba{
    text-align: left;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    
}
.prueba img{
    
    width: 200px;
    border-radius: 50%;
    
}
.prueba h3{
    font-size: 20px;
}
.prueba p{
    font-size: 15px;
}
.productosinfo{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}

.productosinfo h1{
    font-size: 30px;
}
.productosinfo h2{
    font-size: 20px;
}
.relojescentrar h1{
    font-family: 'Roboto', sans-serif;
}
.relojescentrar p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.relojestexto{
    display: table-row;
    vertical-align: middle;
    text-align: center;
    justify-content: space-around;
}
.relojescentrar h1 span{
    font-size: 38px;
}

.relojescentrar img{
    
    width: 200px;
}
.piePagina{
    /*display: table;
    /*position: fixed;*/
    background-color: #1a237e;
    text-align: center;
    padding: 10px;
    min-width: 960px;
    font-family: 'Roboto', sans-serif;
}
.piePagina img{
    width: 45px;
    padding: 10px;
}

.piePagina h2{
    font-size: 15px;
    color: white;
}


img{
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
}

.relojesinfo img{
    
    width: 500px;
}
.relojesinfo{
    align-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.relojesinfo h3{
    font-size: 30px;
}

.aretesinfo img{
   
    width: 500px;
}
.aretesinfo{
    align-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.aretesinfo h3{
    font-size: 30px;
}

.pulserasinfo img{
    
    width: 500px;
}
.pulserasinfo{
    align-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.pulserasinfo h3{
    font-size: 30px;
}
.anillosinfo img{
    
    width: 500px;
}
.anillosinfo{
    align-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.anillosinfo h3{
    font-size: 30px;
}

.collaresinfo img{
   
    width: 500px;
}
.collaresinfo{
    align-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.collaresinfo h3{
    font-size: 30px;
}

.dondeEstamos{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}